$def with (id="ol-carousel")

$# These should come from the server / db
$ categories = ["art", "sci-fi", "fantasy", "biographies", "recipes", "romance", "textbooks", "children", "history", "medicine", "religion", "mysteries", "plays", "music", "classics", "science"]

<div class="head">
  <h2 class="inline"><a href="/read">Books By Category</a></h2>
  <p class="inline sansserif large collapse">
  </p>
</div>

<script type="text/javascript">
  \$(function() {
    function load_covers(carousel, state) {
        for (var i = carousel.first; i <= carousel.last; i++) {
            if (carousel.has(i)) {
                carousel.get(i).find(".coverMagic").removeClass("hiddenCoverMagic");

                var cover = carousel.get(i).find("img.cover");
                if (cover.length > 0) {
                    cover.attr("src", cover.attr("xsrc"));
                }
            }
        }
    }

    \$("#$id").jcarousel({
        scroll:6,
        itemLoadCallback: {onBeforeAnimation: load_covers}
    });

    var Subject = {
	count: function (subject, callback) {
	    var url = '/subjects/' + subject + '.json';
	    \$.ajax({
		type: "GET",
		url: url, 
		success: function(result) {
		    var cnt = result.work_count || 0;
		    if (callback) {
		        return callback(cnt);
		    }
		    return cnt;
	       }
           });
        }
    };

    /* Loads categories carousel with number of books per category */
    \$('.category-count').each(function(index, subject) {
	var name = \$(subject).attr('name');
        Subject.count(name, function(count) {
	    \$('[name="' + name + '"]').text(count + ' books');
	});
    });
})
</script>

  <div class="contentLists results">
    <div class="resultsIcons">
        <ul class="categoryCarousel" id="$id">
            $for category in categories:
                <li class="category-item">
		  <div class="category-icon">
                      <a href="/subjects/$(category)">
                          <img class="category-img" src="/static/images/categories/$(category).svg"/>
                      </a>
		  </div>
		  <p class="category-title">$category.replace('_', ' & ').title()</p>
		  <p class="category-count" name="$(category)"></p>
		  
                </li>
        </ul>
    </div>
  </div>

